bin/
cmake-build-debug/
.vs/
Release/
/Default/
.project
.cproject
.settings/language.settings.xml
.idea/workspace.xml
.settings/org.eclipse.cdt.managedbuilder.core.prefs
.idea/
CMakeLists.txt
create_binary.bat
Dune 2.vcxproj
cmake-build-debug-mingw
