bin/
create_binary.bat
tools/*.bmp

# IDE related
Dune 2.vcxproj
.project
.cproject
.settings/language.settings.xml
.idea/workspace.xml
.settings/org.eclipse.cdt.managedbuilder.core.prefs
.idea/
.vs/

# build directories
build
cmake-build-debug-mingw
cmake-build-release
cmake-build-release-mingw
dependencies/allegro-src
cmake-build-relwithdebinfo
Release/
/Default/
cmake-build-debug/